@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden; 
    background-color: #020202;
}

body{
    font-family: "Inter", system-ui;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 20px;
}

hr{
    width: 680px;
    opacity: 0.3;
    border: none;
    height: 2px; 
    background-color: #fff; 
    margin: 0 auto;
}

.logo{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.icons{
    display: flex;
    gap: 17px;
}

.icons i{
    color: #fff;
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icons i:hover{
    transform: translateY(-5px);
    color: #ee2;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-card {
    width: calc(100% / 3 - 20px); 
    height: 400px;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.gallery-card-title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.gallery-card-btn {
    padding: 0.6rem 2rem;
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

.gallery-card-btn:hover {
    background-color: #FFF;
    color: #000;
}

.gallery #card-1,
.gallery #card-2,
.gallery #card-3,
.gallery #card-4,
.gallery #card-5,
.gallery #card-6,
.gallery #card-7,
.gallery #card-8,
.gallery #card-9 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.6s;
}

.gallery #card-1:hover,
.gallery #card-2:hover,
.gallery #card-3:hover,
.gallery #card-4:hover,
.gallery #card-5:hover,
.gallery #card-6:hover,
.gallery #card-7:hover,
.gallery #card-8:hover,
.gallery #card-9:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media(max-width: 475px) {
    .gallery {
        flex-direction: column;
    }

    .gallery-card {
        flex-direction: column;
        width: 100%;  
    }
}

@media (max-width: 768px) {
    .gallery-card {
        width: 100%; 
    }

    hr {
        width: 90%; 
    }
}

@media (max-width: 470px) {
    .gallery-card {
        padding: 20px 20px; 
    }

    footer {
        width: 100%;
        height: 200px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        padding: 10px 20px;
    }

    #lg {
        font-size: 16px;
    }

    .copy {
        display: none;
    }
}

footer {
    margin-top: 40px;
    width: 100%;
    height: 70px;
    background-color: #2d2c2c;
    padding: 20px 30px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 auto;
}
